/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
    margin: 0;
    text-align: center;
    max-width: 100%;
}

.width {
    width: 500px;
    margin: 0 auto;
}

img {
    width: 100px;
    border-radius: 50px;
}

.hero {
    background-image: url("https://t3.ftcdn.net/jpg/01/23/78/68/360_F_123786844_UtBlZaqPzjo4zMETx6hrunCOTRuXveMG.jpg");
    background-size: cover;
    height: 200px;
    padding: 10px;
    
}

.Title {
    background-color: #457B9D;
    padding: 5px 0 5px 0;
    border-radius: 30px;
    margin: 0 90px 0 90px; 
    color: #F1FAEE;
}

.sub-title {
    background-color: #1D3557;
    padding: 5px 0px 5px 0px;
    border-radius: 20px;
    margin: 10px 50px 0 50px;
    color: #F1FAEE; 
    
}

.heading {
    margin: 0 ;
    padding: 10px;
    color: black;
}

.activity {
    background-color: #F1FAEE;
    height: 230px;
}

.image {
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 20px;
}

.zoo,.kailasagiri,.park {
    height: 100px;
}

.para {
    color: black;
}

.guide {
    background-color: #A8DADC;
    border: 5px dotted #457B9D;
    border-radius: 20px;
    display: flex;
    height: 200px;
    margin: 30px;
     
}

.guide-image {
    border-radius: 10px;
}

.paragraph {
    padding: 10px;
}

.g-heading: {
    padding-bottom: 0px;
} 


    

     

